dev_notebooks_code
**/__pycache__/
**/.pytest_cache/
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
crash.log
*.zip
.python-version
test.json
secrets.tfvars
src.zip
.env
airflow/config
airflow/logs
airflow/plugins
deploy_docker_image.sh
p_files.sh
push_dependencies_and_jobs.sh.DS_Store
**/.DS_Store
push_dependencies_and_jobs.sh
